<table cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% recipients.each do |recipient| %>
      <tr>
        <td><%=h recipient.name %></td>
        <td><%=h recipient.email %></td>
        <td><%=h recipient.role %></td>
        <td>
          <%= link_to 'Show', recipient %>
          <%= link_to 'Edit', edit_envelope_recipient_url(recipient.envelope, recipient) %>
          <%= link_to 'Destroy', envelope_recipient_url(recipient.envelope, recipient), :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>