<h1>Editing recipient</h1>

<% form_for(@recipient, :url => envelope_recipient_url(@envelope, @recipient)) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>

<hr />

<p>
  <%= link_to 'Show', @recipient %> |
  <%= link_to 'Back', account_envelope_url(@envelope.account, @envelope) %>
</p>