<h1>Editing recipient</h1>

<% form_for(@recipient) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :envelope_id %><br />
    <%= f.text_field :envelope_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<hr />

<p>
  <%= link_to 'Show', @recipient %> |
  <%= link_to 'Back', account_envelope_url(@envelope.account, @envelope) %>
</p>