<p>
  <b>Envelope:</b>
  <%=h @recipient.envelope_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @recipient.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @recipient.email %>
</p>

<p>
  <b>Role:</b>
  <%=h @recipient.role %>
</p>


<p>
  <%- unless @recipient.envelope && @recipient.envelope.sent? -%>
    <%= link_to 'Edit', edit_envelope_recipient_path(@recipient.envelope, @recipient) %> |
  <%- end -%>
  <%= link_to 'Back', account_envelope_path(@recipient.envelope.account, @recipient.envelope) %>
</p>