<h1>Listing envelopes for account <%= @account.api_name %></h1>
<%- if @envelopes.any? -%>
  <table cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Recipients</th>
        <th>Subject</th>
        <th>Document file name</th>
        <th>Document file size</th>
        <th>State</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @envelopes.each do |envelope| %>
        <tr>
          <td><%=h envelope.recipients.map(&:email).join(", ") %></td>
          <td><%=h envelope.subject %></td>
          <td><%=h envelope.document_file_name %></td>
          <td><%=h envelope.document_file_size %></td>
          <td><%=h envelope.state %></td>
          <td>
            <%= link_to 'Show', account_envelope_url(@account, envelope) %>
            <%= link_to 'Edit', edit_account_envelope_url(@account, envelope) %>
            <%= link_to 'Destroy', envelope, :confirm => 'Are you sure?', :method => :delete %>
            <%= link_to 'Add Recipients', new_envelope_recipient_url(envelope) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%- else -%>
  <p>There are no envelopes to show.</p>
<%- end -%>
<br />
<p>
  <%= link_to 'New envelope', new_account_envelope_path %> |
  <%= link_to 'Back', account_path(@account) %>
</p>
