<h1>New envelope</h1>

<% form_for(@envelope, :url => account_envelopes_url(@account), :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :email_blurb %><br />
    <%= f.text_area :email_blurb, :size => "30x5" %>
  </p>
  <p>
    <%= f.label :document %><br />
    <%= f.file_field :document %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<p><%= link_to 'Back', account_envelopes_path(@account) %></p>