<h1>Showing Envelope <%= @envelope.id %></h1>

<p>
  <b>Account:</b>
  <%=h @envelope.account.api_name %>
</p>

<p>
  <b>Subject:</b>
  <%=h @envelope.subject %>
</p>

<p>
  <b>Email blurb:</b>
  <%=h @envelope.email_blurb %>
</p>

<p>
  <b>Document file name:</b>
  <%=h @envelope.document_file_name %>
</p>

<p>
  <b>Document content type:</b>
  <%=h @envelope.document_content_type %>
</p>

<p>
  <b>Document file size:</b>
  <%=h @envelope.document_file_size %>
</p>

<p>
  <b>Document updated at:</b>
  <%=h @envelope.document_updated_at %>
</p>

<p>
  <b>State:</b>
  <%=h @envelope.state %>
</p>
<%- if @envelope.ds_id -%>
  <p>
    <b>Docusign ID:</b>
    <%= @envelope.ds_id %>
  </p>
<%- end -%>
<p>
  <b>Signing Status:</b>
  <%- if @envelope.ds_status -%>
    <%=h @envelope.ds_status %> (last updated <%= @envelope.status_updated_at %>)
  <%- else -%>
    n/a
  <%- end -%>
</p>

<p>
  <b>Recipients:</b>
  <%= link_to 'Add', new_envelope_recipient_url(@envelope) if @envelope.pending? %>
  
  <%- if @envelope.recipients.any? -%>
    <%= render :partial => 'recipients/table', :locals => {:recipients => @envelope.recipients} %>
  <%- end -%>
</p>
<hr />
<p>
  <%= link_to 'Edit', edit_account_envelope_path(@account, @envelope) %> |
  <%= link_to 'Back', account_envelopes_path(@account) %>
  <%- if @envelope.sendable? -%>
    |
    <%= link_to 'Send', :action => 'send_envelope', :id => @envelope, :account_id => @account %>
  <%- elsif @envelope.sent? -%>
    |
    <%= link_to 'Refresh Status', :action => 'refresh_status', :id => @envelope, :account_id => @account %>
  <%- end -%>
</p>

