<h1>Enter your Docusign Credentials</h1>

<%= error_messages_for :user %>
<% form_for :user, :url => credentials_path do |f| -%>
  <p>
    <%= label_tag 'API Username' %><br/>
    <%= f.text_field :api_login %>
  </p>
  <p>
    <%= label_tag 'password' %><br/>
    <%= f.password_field :api_password %>
  </p>

  <p><%= submit_tag 'Submit' %></p>
<% end -%>
