<h1>Enter your Docusign Credentials</h1>

<%= error_messages_for :user %>
<% form_for :user, :url => credentials_path do |f| -%>
  <p>
    <%= f.label :api_login, "Login" %><br/>
    <%= f.text_field :api_login, :value => current_user.api_login, :size => 40 %>
  </p>
  <p>
    <%= f.label :api_password, "Password" %><br/>
    <%= f.password_field :api_password, :value => current_user.api_password, :size => 40 %>
  </p>
  <p>
    <%= f.label :api_account_id, "Account ID" %><br/>
    <%= f.text_field :api_account_id, :value => current_user.api_account_id, :size => 40 %>
  </p>
  <p><%= submit_tag 'Submit' %></p>
<% end -%>
