<%- if @accounts.any? -%>
<h1>Listing Docusign Accounts</h1>
  <table cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Envelopes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%=h account.api_name %></td>
          <td><%=h account.api_email %></td>
          <td><%= link_to account.envelopes.size, account_envelopes_url(account) %></td>
          <td>
            <%= link_to 'List Envelopes', account_envelopes_url(account) %>
            <%= link_to 'Show', account %>
            <%= link_to 'Edit', edit_account_path(account) %>
            <%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br />
  <p>
    <%= link_to 'Add new Docusign Account(s)', new_account_path %>
  </p>
<%- else -%>
  <h1>There are no Docusign Accounts to show</h1>
  <p>
    You may <%= link_to 'associate', new_account_path %> one or more Docusign accounts with this application.
  </p>
<%- end -%>