<h1>Add Docusign Account(s)</h1>

<p>Enter your Docusign login email and password.</p>

<% form_for @account do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :api_email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :api_password %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<p><%= link_to 'Back', accounts_path %></p>
